body {
    background: #E4E4DE;
    color: 1B1B1B;
    font-family: Verdana;
    margin: auto;
    max-width: 600px;
    min-width: 300px;
  }

h1, h2, h3, p {
    margin: 20px;
  }
  
  h1 {
    color: 1B1B1B;
    font-size: min(5vw, 1.6em);
    text-align: center;
  }
  
  h2 {
    color: #595f39;
    font-size: min(5vw, 1.2em);
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    
  }
  
  h3 {
    color: #595f39;
    font-size: min(5vw, 1em);
    text-align: center;
    font-weight: lighter;
    margin: 10px;
  }
  
  p {
    text-align: left
  }
  
  .photo {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #3b3b4f;
    background: #C4C5BA;
  }

.photo img {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    border: 0px solid #3b3b4f;
  }

 #img-caption {
    text-align: center;
    width: 100%;
    max-width: 98%;
    min-height: 100%;
    border-radius: 10px;
   
 }

  div {
    display: block;
    margin: auto;
    max-width: 90%;
  }
  
  footer a {
    color: #595f39;}
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  div {
    display: block;
    margin: auto;
    max-width: 100%;
    background: #C4C5BA;
    border: 3px solid #3b3b4f;
  }
  
  footer a {
    color: #595f39;}
